[Unit]
Description=Node.js Web Application
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStartPre=/bin/bash -c 'while [ ! -f /opt/webapp/.env ]; do sleep 1; done'
ExecStart=node /opt/webapp/dist/src/index.js
Restart=always
RestartSec=3
StandardOutput=null
StandardError=null
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
